/*l领券中心右侧*/
.fixed{
	width: 35px;
	height: 305px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	background: #474747;
}
.fixed img{
	width: 100%;
}
.fixed .iconfont{
	display: inline-block;
	color: white;
	font-size: 23px;
	padding: 2px 5px;
}
.fixed .iconfont:hover{
	background: red;
	width: 100%;
}

/**/

.top-box{
	margin-bottom: 183px;
}
/*头部*/
.nav{
	width: 100%;
	height: 35px;
	background: #f9f9f9;
}
/**/

/*头部地址*/
.nav1{
	width: 1180px;
	height: 100%;
	margin: auto;
	position:relative;
	z-index: 1;
}
.nav1 span{
	margin-top: 10px;
	line-height: 35px;
	font-size: 12px;
}
.nav1 .hred:hover{
	color:red;
	cursor: pointer;
}
.nav1 .hred{
	border-right: 1px solid #e6e6e6;
	padding-right: 10px;
}
/**/

/*头部导航*/
.center-box{
	display: inline-block;
	margin-left:20px;
}
.nav1 .red{
	color: red;
	cursor: pointer;
	overflow:hidden ;
}
.nav1 .greet{
	margin-left:300px;
}
.fr{
	float: right;
}
.nav1 .fl:hover{
	background:white;
	border: 1px solid gainsboro;
	border-bottom: 0;
	margin: 0;
}
.nav1 li a:hover{
	color: red;
}
.nav1 li:hover{
	color: red;
}
.nav1 .fr li{
	padding:0 10px;
	border-right: 1px solid #e6e6e6;
	height: 16px;
	font-size: 12px;
	float: left;
	margin-top:9.5px;
	cursor: pointer;
}
.nav1 .fl{
	margin: 0;
	cursor: pointer;
	position: relative;
	display: inline-block;
	height: 30px;
	border: 1px solid #f9f9f9;
	background:#f9f9f9 ;
}
#site #site-box{
	border: 1px solid gainsboro;
	width: 310px;
	height: 215px;
	position: absolute;
	top: 30px;
	display: none;
	background: white;
}
#site #site-box li{
	float: left;
	padding:5px 0 0 10px;
	text-align:left;
	width: 48px;
	line-height: 26px;
	font-size: 12px;
}
#site{
	display: inline-block;
	background: white;
}

#site #site-box a:hover{
	color: red;
}
/**/

.red{
	color: red;
}
/**/

/*搜索栏*/
.logo{
	width: 1200px;
	margin: auto;
}
.logo-box{
	position: relative;
}
.text{
	width: 398px;
	height: 38px;
	border: 2px solid red;
}
.text-box{
	position: absolute;
	top:20px;
	left: 750px;
}
.select{
	height:39px;
	width:105px;
	border: 0;
	background:#F6F6F6 ;
	margin-top: 2px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 2px;
}
.opt{
	background: white;
}
.serch{
	position: absolute;
	width: 50px;
	height: 40px;
	background: red;
	top: 0;
	border: 2px solid red;
	right:-50px;
}
.serch .iconfont{
	color: white;
	font-size: 25px;
	padding-left: 10px;
	font-weight: bolder;
	display: inline-block;
	padding-top: 5px;
	cursor: pointer;
}
.cart{
	position: absolute;
	width:110px;
	height: 40px;
	background: red;
	top: 0;
	border: 2px solid red;
	right:-200px;
	text-align: center;
	line-height: 40px;
	color: white;
	cursor: pointer;
}
.order{
	position: absolute;
	width:85px;
	height: 40px;
	background:#F6F6F6 ;
	top: 0;
	border: 2px solid #DCDCDC;
	right:-283px;
	text-align: center;
	line-height: 40px;
	color:black;
	cursor: pointer;
}
.logo .nav{
	position: absolute;
	display: inline-block;
	top: 65px;
	left: 750px;
	width: 480px;
	background: white;
}
.logo .nav li{
	float: left;
	padding-right: 30px;
}
.logo .nav a{
	font-size: 12px;
	color: #969696;
}
.logo .nav a:hover{
	color: red;
	text-decoration:underline;
}
/**/

/*三级导航*/
.botm-box{
	width: 1200px;
	margin-left: 360px;
}
.sm-comty{
	display: inline-block;
}
.sm-comty li{
	display: inline-block;
	padding: 10px;
}
.comty{
	display: inline-block;
	height: 45px;
	width: 200px;
	background: red;
	cursor: pointer;
}
.comty a{
	color: white;
	font-weight: bolder;
	margin-right:56px;
	margin-left: 20px;
	line-height: 40px;
}
.comty a:hover{
	color: white;
}
.comty .iconfont{
	color: white;
}
.botm{
	border-bottom: 3px solid red;
	margin-top: 100px;
	width: 100%;
	position: absolute;
}
.sm-comty a{
	font-size: 14px;
	font-weight: bolder;
}
.sm-comty a:hover{
	color:red;
	cursor: pointer;
}
/**/

/*四级导航*/
.subnav{
	position: absolute;
	background: #F5F5F5;
	width: 100%;
	top: 185px;
}
.subnav li{
	display: inline-block;
}
.subnav ul{
	height: 32px;
	margin-left:360px ;
}
.subnav li a:hover{
	text-decoration: underline;
	color: red;
}
.subnav li a{
	display: inline-block;
	border-right: 1px solid #e6e6e6;
	font-size: 12px;
	padding: 0 15px;
	margin-top:10px;
	height: 12px;
	text-align: center;
}
/**/

/*二层版心*/
.box1{
	margin: auto;
	position: relative;
	height: 485px;
	width: 1200px;
}
/**/

/*左侧商品导航*/
.box1 .ullf a{
	font-size: 12px;
	padding: 5px;
	border: 2px solid #FAFAFA;
	display: inline-block;
	height: 16px;
}
.box1 .ullf{
	background: #FAFAFA;
	height: 100%;
	width: 200px;
}
.box1 .ullf a:hover{
	font-size: 15px;
	width:185px;
	text-decoration: underline;
	color: red;
	background: white;
	border: 2px solid red;
}
/**/

/*轮播图*/
.img{
	width: 796px;
	height: 326px;
	position: absolute;
	top: 0;
	left: 200px;
}
/**/

/*轮播图下方图片*/
.ulbot{
	position: absolute;
	width: 800px ;
	height: 157px;
	bottom:3px;
	left: 200px;
}
.ulbot li{
	border-right: 1px solid gainsboro;
	width:198px;
	height: 155px;
	float: left;
}
/**/

/*右侧公告*/
.frbox{
	height:100% ;
	width:203px ;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid gainsboro;
	
}
a:hover{
	color: red;
}
.frbox li{
	padding: 4px;
	font-size: 14px;
}
.frbox span{
	padding: 5px 17px;
}
.frbox span:hover{
	background-color:gainsboro;
	cursor: pointer;
}
.center{
	border: 1px solid gainsboro;
	border-right: 0;
}
/**/

/*秒杀时间*/
.time{
	height: 80px;
	width: 1200px;
	margin: auto;
}
.time ul{
	float: right;
}
.time li{
	float: left;
	margin-top: 46px;
	margin-right:50px;
	font-size: 20px;
	font-weight: bolder;
}
.mgrt{
	margin-right: 100px;
}
.time .ms{
	margin-top: 40px;
}
.time a:hover{
	border-bottom: 2px solid red;
	padding-bottom: 5px;
}
.time .red:hover{
	border: 0;
}
/**/

/*秒杀商品栏*/
.seckill{
	/*border: 1px solid black;*/
	width: 1240px;
	height: 460px;
	margin: auto;
}
.products li{
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	width: 205px;
	height: 228px;
	float: left;
	text-align: center;
}
.products img{
	padding-top: 10px;
}
.products .sm-img{
	padding: 0;
	border-top: 1px solid gainsboro;
	height: 110px;
	width: 100%;
}
.products .top-brdr-red{
	border-top: 2px solid red;
}
.products .top-brdr{
	border-top: 2px solid black;
}
.products .lf-brdr{
	border-left:1px solid gainsboro;
}
.progress-bar{
	width:150px;
	height: 8px;
	background-color:#FFB7B7;
	border-radius: 8px;
	margin: auto;
	position: relative;
}
.progress-bar .empty{
	width: 9%;
	height: 8px;
	background-color: red;
	position: absolute;
	left: 0;
	border-radius: 8px;
}
.progress-bar .percent{
	position: absolute;
	background-color:#FE8D91 ;
	color: white;
	border-radius: 8px;
	padding:3px;
	left: 30%;
	top: -8px;
	font-size: 12px;
}
.products h5{
	margin-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	margin-top:5px;
}
.products h5:hover{
	color: red;
	text-decoration: underline;
	cursor: pointer;
}
.rate{
	color: red;
	font-size: 14px;
	float: left;
	padding: 8px 3px 6px 10px;
}
.original-cost{
	color: #969696;
	font-size: 14px;
	display: inline-block;
	padding-top: 8px;
	text-decoration:line-through;
	margin-left:-80px;
}
/**/

/*儿童专场*/
.children{
	width: 1240px;
	height: 70px;
	margin: auto;
	box-sizing: border-box;
	padding-top: 30px;
	font-weight: bold;
}
.children:hover{
	color: red;
	cursor: pointer;
}
.children-box{
	/*border: 1px solid black;*/
	width: 1240px;
	height: 340px;
	margin: auto;
}
.children-box .sm-box{
	/*border: 1px solid black;*/
	width: 410px;
	height:100%;
	float: left;
}
.children-box .sm-box li{
	border: 1px solid gainsboro;
	width: 203px;
	height: 170px;
	float: left;
}
.children-box .box2 img{
	width: 410px;
	height:345px;
}
/**/

/*图书专场*/
.book-box{
	/*border: 1px solid black;*/
	width: 1240px;
	height: 500px;
	margin: auto;
	margin-top: 40px;
}
.book-box .navigation{
	border-bottom: 2px solid black;
	width: 910px;
	height: 44px;
}
.book-box .navigation .fl li{
	float: left;
	line-height: 44px;
	font-size: 25px;
	font-weight: bold;
}
.book-box .navigation .fr li{
	float:left;
	line-height: 44px;
	border: 1px solid gainsboro;
	width: 114px;
	height: 42px;
	text-align: center;
	background-color: #F5F5F5;
	border-bottom: 0;
}
.book-box .navigation .fr li:hover{
	background-color: white;
	border: 2px solid black;
	font-weight: bold;
	border-bottom: 0;
	height: 44px;
}
.book-box .book{
	/*border: 1px solid gainsboro;*/
	width: 910px;
	height: 440px;
	margin-top: 10px;
	float: left;
}
.book-box .book .book1{
	height:100%;
	border: 1px solid gainsboro;
	float: left;
}
.book .fl{
	width: 240px;
}
/**/
/*图书中*/
.book .center{
	width: 332px;
	border: 0;
}
.book .fr{
	width: 332px;
}
.book-box .book-frbox{
	border: 1px solid gainsboro;
	width: 310px;
	height: 100%;
	float: right;
	margin-top: -46px;
}
.book .fl .flimg{
	height: 330px;
	width: 100%;
}
.book .fl  li{
	float: left;
	width: 76px;
	line-height: 25px;
	font-size: 12px;
}
.book .fl ul{
	overflow: hidden;
	margin-left: 12px;
}
.book .fl  li:hover{
	text-decoration: underline;
}
.book .center ul,.book .fr ul
{
	border-left: 1px solid gainsboro;
	width: 165px;
	height:216px;
	float: left;
}
.book .center .nobr{
	border: 0;
}
.book .center li{
	text-align: center;
}
.book .center ul h5,.book .fr ul h5
{
	margin-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	margin-top:5px;
}
.book .center ul h5:hover,.book .fr ul h5:hover
{
	color: red;
	text-decoration: underline;
	cursor: pointer;
}
.book .center .original-cost,.book .fr .original-cost
{
	margin-left:5px;
}
.book .fr ul{
	border-bottom: 1px solid gainsboro;
	margin-top: 5px;
	border-left: 0;
	border-right: 1px solid gainsboro;
}
.book .fr .nobt{
	border-bottom: 0;
}
.book .fr li{
	text-align: center;
}
/**/
/*图书右菜单*/
.book-box .book-frbox .fl,.book-box .book-frbox .norg
{
	display: inline-block;
	border-right: 1px solid gainsboro;
	width: 154px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	float: left;

}
.book-box .book-frbox .norg{
	border: 0;
}
.book-box .book-frbox .greet{
	background:#F5F5F5  ;
	overflow: hidden;
}
.book-box .book-frbox span:hover{
	background-color: white;
	text-decoration: underline;
}
.book-box .book-frbox ul span{
	padding: 12px 20px 20px 20px;
	background-color: white;
}
.book-box .book-frbox li{
	font-size: 14px;
	height: 44.5px;
	line-height: 44.5px;
	border-bottom: 1px solid gainsboro;
}
/**/

/*服装导航*/
.clbox .clothing{
	width: 1240px;
}
.clbox{
	height: 635px;
}
.clbox .clothing-img{
	border: 1px solid gainsboro;
	width: 1240px;
	height: 575px;
	margin-top: 10px;
}
.clothing-img .flmenu{
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	width: 248px;
	height:520px;
	float: left;
	overflow: hidden;
}
.clothing-img .fr-top-menu{
	border-bottom: 1px solid gainsboro;
	width: 990px;
	height: 306px;
	float: right;
	overflow: hidden;
}
.clothing-img .fr-bottom-menu{
	border-bottom: 1px solid gainsboro;
	width: 990px;
	height:214px;
	float: right;
}
.clothing-img .flmenu .flimg{
	width: 100%;
	height: 320px;
}
.clothing-img .fr-top-menu .slide-show{
	border: 0;
	height:306px;
	width: 395px;
	float: left;
}
.clothing-img .fr-top-menu li{
	border-left: 1px solid gainsboro;
	height:306px;
	width:197px;
	float: left;
}
.clothing-img .fr-bottom-menu li{
	border-left:1px solid gainsboro ;
	width:197px ;
	height:216px;
	float: left;
}
.clothing-img .flmenu li{
	float: left;
	width: 76px;
	line-height: 33px;
	font-size: 12px;
}
.clothing-img .flmenu ul{
	overflow: hidden;
	margin-left: 12px;
}
.clothing-img .flmenu li:hover{
	text-decoration: underline;
}
.slide-show img{
	width: 100%;
}
.clothing-img .fr-bottom-menu .no-left-border{
	border: 0;
}
.logoimg li{
	height: 50px;
	width: 122px;
	float: left;
}
/**/

/*日用百货*/
.general-merchandise{
	/*border: 1px solid black;*/
	width: 1240px;
	height: 460px;
	margin: auto;
}
.general-merchandise .lf li{
	float: left;
}
.general-merchandise h2{
	/*border: 1px solid black;*/
	position: relative;
}
.general-merchandise .lf{
	position: absolute;
	top: 30px;
	left:160px;
}
.general-merchandise .lf a{
	margin: 0 10px;
	font-size: 20px;
}
.general-merchandise .lf a span{
	font-size: 14px;
	padding-left: 5px;
	font-weight:normal;
}
.border{
	border: 1px solid gainsboro;
	overflow: hidden;
	width: 1228px;
	margin-top: 4px;
	border-top: 0;
	margin-bottom: 20px;
}
/**/

/*创意文具*/ 
.stationery{
	margin: auto;
	width: 1260px;
	height: 180px;
	margin-top: -20px;
	position: relative;
}
.stationery h2{
	padding-top: 0px;
}
.stationery li{
	border: 1px solid gainsboro;
	width: 230px;
	height: 150px;
	float: left;
	margin-right: 10px;
	margin-left: 8px;
}
.stationery ul{
	float: left;
	position: absolute;
	top: 42px;
}
/**/

/*婴儿专场*/
.baby{
	margin: auto;
	width: 1240px;
	height: 500px;
	margin-top: 20px;
}
.baby .topnav{
	width: 100%;
	height: 50px;
}
.baby .topnav li{
	float: left;
	line-height: 50px;
	padding-right: 15px;
	font-weight: bolder;
	font-size: 18px;
}
.baby .topnav .max{
	font-size: 25px;
}
.baby-img .flbox{
	height: 388px;
	width: 230px;
}
.baby-img .flbox li{
	border: 1px solid gainsboro;
	height: 50%;
	width: 100%;
	border-top: 0;
}
.baby-img .centerbox li{
	border: 1px solid gainsboro;
	width: 333px;
	height: 390px;
	position: absolute;
	top:0;
	left: 230px;
	border-left: 0;
}
.baby-img .centerbox img{
	width:100%;
	height: 100%;
}
.baby-img{
	position: relative;
}
.baby-img .frbox{
	float: right;
	width:675px;
	height: 388px;
	border: 0;
}
.baby-img .frbox li{
	border: 1px solid gainsboro;
	height:187px;
	width: 213px;
	float: left;
	border-top: 0;
	border-left: 0;
}
.baby-img ul .top{
	border-top: 1px solid gainsboro;
}
/**/

/*闪购*/
.vips{
	width: 1240px;
	height:560px;
	margin: auto;
	margin-top: 20px;
}
.vips .navimg{
	width: 100%;
	height: 50px;
}
.vips li{
	border: 1px solid gainsboro;
	width: 203px;
	height:253px;
	float: left;
}
.vips .forbox{
	background: #F9F9F9;
	border-top: 0;
}
.vips .forbox p{
	border: 1px solid gainsboro;
	float: left;
	width:100px;
	height: 125px;
	border-right: 0;
	border-bottom: 0;
}
.vips .forbox img{
	position:relative;
	top: 30%;
	left: 10%;
}
.vips .navimg .frnav{
	float: right;
	line-height: 50px;
	margin-right: 15px;
	color:#FA5C98;
}
.vips .navimg .frnav:hover{
	text-decoration: underline;
}
.vips ul .smimg{
	height: 100%;
}
/**/

/*猜你喜欢*/
.like{
	width: 1240px;
	margin: auto;
	margin-top: 30px;
}
.like .explain{
	border-bottom: 2px solid red;
	margin-right: 10PX;
}
.like .explain h2{
	color: red;
	font-weight: bolder;
}
.like .stack{
	border: 1px solid gainsboro;
	width: 1230px;
	margin-top: 10px;
	height:2770px;
	overflow: hidden;
}
.like .stack li{
	float: left;
	width: 199px;
	height:270px;
	border: 2px solid white;
	
}
.like .stack li:hover{
	border: 2px solid gainsboro;
}
.like .stack ul{
	margin: 10px 5px;
}
.like .stack li img{
	width: 100%;
	height: 70%;
	margin-bottom: 10px;
	margin-top: 10px;
}
.like .stack a p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	color:gray;
}
.like .stack a p:hover{
	text-decoration: underline;
	color: red;
}
.like .stack a h4{
	color: red;
	font-weight: bolder;
	font-size: 20px;
	margin-top: 10px;
}
.like .stack .advert{
	float: right;
	border: 1px solid gainsboro;
	font-size: 12px;
	color: gainsboro;
	line-height: 18px;
}
/**/

/*底部导航*/
.footernav{
	width: 100%;
	height: 80px;
		border-top: 2px solid red;
		margin-top: 50px;
		border-bottom: 1px solid gainsboro;
		background:#FAFAFA;
}
.footernav li{
	float: left;
	margin-right:100px;
}
.footernav ul{
	width:1000px;
	margin: auto;
	margin-top: 15px;
	overflow: hidden;
}
.footernav ul li .one1{
	display: block;
	width: 136px;
	height: 53px;
	background:url(../img/img1/footer_bg.png) no-repeat;
	}
	.footernav ul li .one2{
	display: block;
	width: 136px;
	height: 53px;
	background:url(../img/img1/footer_bg.png) no-repeat 0 -50px;

	}
	.footernav ul li .one3{
	display: block;
	width: 136px;
	height: 53px;
	background:url(../img/img1/footer_bg.png) no-repeat 0 -102px;

	}
	.footernav ul li .one4{
	display: block;
	width: 136px;
	height: 53px;
	background:url(../img/img1/footer_bg.png) no-repeat 0 -156px;

	}
	.footernav ul{
		
	}
/**/

/*指南*/
.guide{
	width:1000px;
	height: 170px;
	margin: auto;
}
.guide div{
	float: left;
	width: 154px;
	margin-top: 40px;
}
.guide div span{
	text-align: center;
	display: block;
    font-size: 14px;
    color: #323232;
    height: 36px;
    line-height: 36px;
}
.guide div li{
	text-align: justify;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.guide div li a{
	color:gray;
}
.guide div li a:hover{
	color: red;
	text-decoration: underline;
}
/**/

/*结尾*/
.joinus{
	border-top: 1px solid gainsboro;
	width: 100%;
}
.footer-copyright{
	width:1100px;
	margin: auto;
margin-top: 20px;
}
.footer-copyright a{
	padding:20px;
	color: #8c8c8c;
    font-size: 12px;
}
.footer-copyright span{
	color: #8c8c8c;
    font-size: 12px;
}
.footer-copyright a:hover{
	color: red;
	text-decoration: underline;
}
.joinus .footer2 p{
	text-align: center;
	color: #8c8c8c;
    font-size: 14px;
    padding:10px 0;
}
.joinus .footer2 span{
	padding: 0 5px;
}
.footer-box{
	width:780px;
	margin:30px auto;
	margin-bottom: 60px;
}
.footer-box img{
	padding-right: 10px;
}
